#background{ 
    width: 1400px;
    margin: 0 auto;
    position: relative;
    height: auto;
}
html{
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}




#header{
    background: url(../IMAGE/banner.jpg);
    width: 1340px;
    height: 290px;
    opacity: 0.3;
    position: absolute;
    top: 50px;
}
.td img{
    position: absolute;
    width: 450px;
    top: 155px;
    left: 50px;
}

.logo img{
    position: absolute;
    width: 300px;
    height: 300px;
    left: 870px;
    top: 183px;
}
.text {
    position: absolute;
    box-shadow: 0px;
    width: 500px;
    height: 100px;
    font-size: 13px;
    font-weight: bold;
    top: 240px;
    left: 75px;
}
#phongchu{
    color : rgb(229, 32, 63);
    text-decoration-line: underline;
    font-size: 16px;
    font-weight: bold;
    text-align: justify;
    letter-spacing: 0px;
    line-height: 1.6;
}
#header{
    margin-top: 70px;
}

#content1{
    margin-top: 400px;
}
.o1 {
    margin-top: -50px;
    margin-left: -60px;
}

.icon1{
    margin-right: 280px;
    margin-top: 40px;
    width: 10%; /* chiếm 80% chiều rộng của đối tượng chứa hình ảnh */
    height: auto; 
}
.Buoc1 {
    box-shadow: 10px 10px 4px 1px rgb(180, 177, 177);
    border:  2px solid #ccc;
    border-color: rgba(228, 26, 26, 0.993);
    width: 1000px;
    height: 220px;
    border-radius: 20px;
    background: #ffffff;
    margin-top: 120px;
    margin-left: 150px;
  
}
.B_1{
    position: absolute;
    background-color: rgba(228, 26, 26, 0.993);
    color: rgb(248, 247, 247);
    margin-left: 230px;
    margin-top: -30px;;
    width: 180px;
    height: 70px;
    border-radius: 0 0 15px 15px;
}
.b1{
    font-size: 30px;
    margin-top: 10px;
    margin-left: 10px;
}
.step1{
    float: right;
    margin-top: -75px;
    margin-right: 15px;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-decoration-skip-ink: none;
    text-underline-offset: 5px;
}
.text1{
    margin-top: 10px;
}
.dong1{
    margin-left: 50px;
    line-height: 30px;
    display: block;
    padding: 50px 25px;
}

.o2 {
    margin-top: -60px;
    margin-left: 180px;
}

.icon2{
    margin-left: 180px;
    margin-top: 15px;
    width: 10%; /* chiếm 80% chiều rộng của đối tượng chứa hình ảnh */
    height: auto; 
}
.Buoc2 {
    box-shadow: 10px 10px 4px 1px rgb(190, 189, 189);
    border: 2px solid #ccc;
    border-color: rgba(228, 26, 26, 0.993);
    width: 900px;
    height: 180px;
    border-radius: 20px;
    background: #ffffff;
    margin-top: 120px;
    margin-left: 150px;
  
}
.B_2{
    position: absolute;
    background-color: rgba(228, 26, 26, 0.993);
    color: rgb(248, 247, 247);
    margin-left: 800px;
    margin-top: -30px;;
    width: 180px;
    height: 70px;
    border-radius: 0 0 15px 15px;
}
.b2{
    font-size: 30px;
    margin-top: 10px;
    margin-left: 10px;
}
.step2{
    float: right;
    margin-top: -75px;
    margin-right: 15px;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-decoration-skip-ink: none;
    text-underline-offset: 5px;
}
.text2{
    margin-top: 10px;
}
.dong2{
    margin-left: 175px;
    line-height: 30px;
    display: block;
    padding: 50px 25px;
}

.o3{
    margin-top: -50px;
}

.Buoc3 {
    box-shadow: 10px 10px 4px 1px rgb(190, 189, 189);
    border: 2px solid #ccc;
    border-color: rgba(26, 228, 70, 0.993);
    width: 850px;
    height: 130px;
    border-radius: 20px;
    background: #ffffff;
    margin-top: 120px;
    margin-left: 150px;
}
.b3{
    font-size: 30px;
    margin-top: 10px;
    margin-left: 10px;
}
.step3{
    float: right;
    margin-top: -75px;
    margin-right: 15px;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-decoration-skip-ink: none;
    text-underline-offset: 5px;
}
.B_3{
    position: absolute;
    background-color: rgba(26, 228, 70, 0.993);
    color: rgb(248, 247, 247);
    margin-left: 230px;
    margin-top: -30px;
    width: 180px;
    height: 70px;
    border-radius: 0 0 15px 15px;
}
.dong3{
    margin-left: 50px;
    line-height: 20px;
    display: block;
    padding: 50px 25px;
}

.icon3{
    margin-right: 420px;
    margin-top: 15px;
    margin-left: 160px;
    width: 10%; /* chiếm 80% chiều rộng của đối tượng chứa hình ảnh */
    height: auto;
}
#content2{
    box-shadow: 0px;
    height: 500px;
}
#khung1 img{
    width: 400px;
    margin-left: 50px;
    border-bottom: 1px dashed red;
    border-right: 1px dashed red;
}
#khung2 .sub-khung2{
    border-bottom: 1px dashed red;
    box-shadow: 0px;
    float: right;
    margin-top: -159px;
    margin-right: 50px;
    width: 800px;
    height: 154px;
}
#khung2 .sub-khung2 li{
    margin-top: 20px;
}
#khung3 img{
    width: 400px;
    margin-left: 83px;
    margin-top: 20px;
}
#khung4 .sub-khung4{
    float: right;
    box-shadow: 0px;
    width: 800px;
    height: 275px;
    margin-right: 49px;
    margin-top: -195px;
    border-left: 1px dashed red;
}
#khung4 .sub-khung4 li{
    margin-top: 10px;
}
.cnt{
    color : rgb(229, 32, 63);
    text-decoration-line: underline;
    font-weight: bold;
    text-align: justify;
    letter-spacing: 0px;
    line-height: 1.6;
}
#nd1{
    box-shadow: 0px;
}
#nd1 .img1 img{
    width: 430px;
    margin-left: 15px;
}
#nd1 .img2 img{
    width: 600px;
    float: right;
    margin-right: 120px;
    margin-top: -300px;
}
#nd1 .menu-nd1 li{
    margin-top: 10px;
}
#nd1 .img3 img{
    width: 600px;
    margin-left: 60px;
}
#nd1 .img4 img{
    width: 600px;
    float: right;
    margin-top: -209px;
    margin-right: 30px;
}
#nd2{
    box-shadow: 0px;

    height: 320px;
}
#A .imgA img{
    box-shadow: 0px;
    border: 1px dashed rgba(26, 228, 70, 0.993);
    width: 400px;
    margin-left: 20px;
}
#A .ndA{
    float: right;
    width: 800px;
    margin-right: 50px;
    margin-top: -140px;
    line-height: 26px;
}
#B .imgB img{
    width: 400px;
    margin-left: 20px;
    box-shadow: 0px;
    border: 1px dashed red;
}
#B .ndB{
    float: right;
    width: 800px;
    margin-right: 50px;
    margin-top: -95px;
    color: red;
    font-size: 17px;
    font-weight: bold;
}

.image-grid {
    display: flex;
    flex-wrap: wrap;
}
  
.image-grid .row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
  
.image-grid img {
    width: 25%;
    margin: 20px;
    transition: transform 0.3s;
}
  
.image-grid img:hover {
    transform: scale(1.2);
}
.image-grid img {
    width: 220px;
}

#AA{

    width: 450px;
    margin-left: 100px;
}
#AA .imgAA img{
    width: 400px;
    margin-left: 20px;
}
#BB{
    width: 450px;
    float: right;
    margin-right: 150px;
    margin-top: -195px;
}
#BB .imgBB img{
    width: 400px;
    margin-left: 20px;
}
#CC{
    width: 450px;
    margin-left: 100px;
}
#CC .imgCC img{
    width: 400px;
    margin-left: 20px;
}
#o3 img{
    width: 1100px;
    margin-left: 100px;
}
#vidu {
    width: 1050px;
    margin-left: 125px;
}
#dangky {
    margin: 0 auto;
    max-width: 600px;
    padding: 40px ;
    background-color: #f8f8f8;
    border-radius: 20px;
    margin-top: 20px;
    border: 1px solid rgb(104, 211, 166);
  }
  
h2 {
    text-align: center;
    color: rgb(229, 32, 63);
    margin-top: -10px
}
  
.form-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 15px;
}
  
.form-group {
    width: 30%;
}
  
#dangky label {
    display: block;
    margin-bottom: 5px;
}

  
#dangky input,
textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

#dangky input:focus{
    border: 1px solid #4CAF50;
    outline: none;
}
#dangky input:invalid{
    border: 1px solid rgb(223, 63, 63);
}
#dangky textarea:focus{
    border: 1px solid #4CAF50;
    outline: none;
}
#dangky textarea:invalid{
    border: 1px solid rgb(223, 63, 63);
}
#dangky input[type="submit"]{
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 5px;
    margin-top: 10px;
    border: none;
}
  
#dangky input[type="submit"]:hover {
    background-color: #3e8e41;
}

#camon{
    color: white;
    background-color: rgb(229, 32, 63);
    width: 1340px;
    height: 100px;
}
#camon u{
    position: absolute;
    left: 290px;
}
#footer{
    position: absolute;
    width: 1340px;  
    background-color: #ccc;
    min-height: 400px;
}

#footer .footer_Container{
    width: calc(100% - 84px);
    margin-left: 50%;
    transform: translateX(-50%);
    content: "";
    display: table;
    clear: both;

    /* background-color: black; */
}

#footer .footer_Container .footer_contact,
#footer .footer_Container .footer_member{
    
    width: 600px;
}

#footer .footer_Container .footer_contact{
    float: left;
    font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 18px;
}

#footer .footer_Container .footer_Local{
    display: inline;
}

#footer .footer_Container .contact_Icon{
    font-size: 24px;
    padding-right: 24px;
}

#footer .footer_Container .footer_member{
    float: right;
}

#footer .footer_contact .contact_info{
    display: block;
    width: 100%;
}

#footer .footer_contact .phone_Title:active{
    color: red;
}
#footer .footer_contact .Social_Link,
#footer .footer_contact .phone_Title,
#footer .footer_contact .phone_Number,
#footer .footer_contact .footer_Social{
    display: inline-block;
    text-decoration: none;
    font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    
}

#footer .footer_contact .phone_Title{
    color:black ;
    font-size: 16px;
}

#footer .footer_Container .footer_BCT{
    width: 300px;
    margin-top: 12px;
}

#footer .info_Member{
    font-style: italic;
    display: inline-block;
    font-size: 16px;
    color: black;
    margin-bottom: 24px;
    font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    font-weight: 500;
    margin-top: 12px;
}