@media screen and (max-width:1500px){

}

@media screen and (max-width:1200px){

}

@media screen and (max-width:1000px){
    #respon__menu{
        font-size: 24px;
        margin: 48px 0 0 12px;
        display: block !important;
    }

    
    #header .nav{
        display: none;
        top: 130px;
        left: 4px;
        width: 150px;
        z-index: 999;
        position: absolute;
        text-align: left;
    }
    
    
    #header .nav li{
        width: 150px;
        text-align: center;
        padding: 8px;
    }

    .main-container{
        width: calc(100% - 150px);
        float: right;
    } 
}

@media screen and (max-width:970px){
    #product .list_Product .info_Product{
        max-width: calc(100% / 3 );
    }
}

@media screen and (max-width:710px){
    #product .list_Product .info_Product{
        max-width: calc(100% / 1 );
    }
}