@media screen and (max-width:1500px){
    .img_Sale{
        
    }

    #content .news .news_sale{
        width: 100%;
    }

    #content .news .news_mess{
        width: 100%;
        margin-top: 44px;
        overflow-y: scroll;
    }

    #content .mess_1 img,
    #content .mess_2 img, 
    #content .mess_3 img{
        min-width: 20%;
        width: 50%;
    }
    
}

@media screen and (max-width:1200px){
    #product .list_Product .info_Product{
        max-width: calc(100% / 4 );
    }
}

@media screen and (max-width:1000px){
    #respon__menu{
        font-size: 24px;
        margin: 48px 0 0 12px;
        display: block !important;
    }

    
    #header .nav{
        display: none;
        top: 130px;
        left: 4px;
        width: 150px;
        z-index: 999;
        position: absolute;
        text-align: left;
    }
    
    
    #header .nav li{
        width: 150px;
        text-align: center;
        padding: 8px;
    }

    #content .news .news_sale{
        width: calc(100% - 150px);
        float: right;
    } 
}

@media screen and (max-width:970px){
    #product .list_Product .info_Product{
        max-width: calc(100% / 3 );
    }
}

@media screen and (max-width:710px){
    #product .list_Product .info_Product{
        max-width: calc(100% / 1 );
    }
}