*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --header_height:40px;
    --divide_header:calc(var(--header_height) / 2);
}

.clean_Float{
    clear: both;
}

html{
    font-size: 14px;
    font-family: "Segoe UI", Helvetica, Arial, sans-serif;
}

body{
    
}
#header{
    background-color: white;
    width: 100%;
    height: var(--header_height);

}

#header .nav_Search{
    height: var(--header_height);
}



#header .find_Header{
    width: 20%;
    float: right;
    padding: 4px;
    margin-top: auto;
    position: relative;
    top: 7px;
    right: 100px;
    border-radius: 5px;
    font-weight: 500;
}

#header  .search_Icon{
    float: right;
    position: absolute;
    right: 70px;
    line-height: var(--header_height);
    font-size: 20px;
    
}



#header .nav{
    position: absolute;
    left: 24px;
    
}

#header .nav li{
    
    font-weight: 700;
    display: inline-block;
    color: black;
    margin-left: -4px;
    line-height: var(--divide_header);
    text-transform: uppercase;
    padding: 0px 12px;
    white-space: -4px;
}
#header .nav li:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}

#header .nav i{
    display: block;
    line-height: var(--divide_header);
    text-align: center;
}

#content{
    
    width: 100%;
    
    background-color: #ccc;

}

#content .news{
    min-width: calc(100% - 84px);
    overflow: hidden;
    background-color: #ccc;
    margin-left: 50%;
    position: relative;
    top: 24px;
    transform: translateX(-50%);
}

#content .news .news_sale,
#content .news .news_mess{
    
}

#content .news .news_sale{
    
    display: inline-block;
    width: calc(100%/2 + 10%);
    float: left;
}

#content .news_sale .img_Sale{
    min-width: 100%;
    min-width: 100%;
}

#content .news_sale .img_Sale:hover{
    opacity:0.5;
    filter: drop-shadow(2px 2px 10px black);
}

#content .news .news_mess{
    display: block;
    height: 100%;
    width: calc(100%/2 - 10% - 12px);
    float: right;
    background-color: white;
    /* min-height: 600px; */
}

#content .news_mess .news_title{
    font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    font-weight: 700;
    background-color: red;
    width: 100%;
    height: 32px;
    text-transform: uppercase;
    line-height: 28px;
    
    color: white;
    padding-left: 24px;
}

#content .mess_1,
#content .mess_2,
#content .mess_3{
    margin-top: 24px;
    width: 100%;
    
}

#content .mess_1:hover,
#content .mess_2:hover,
#content .mess_3:hover{
    filter: opacity(0.5)
}

#content .mess_1 img,
#content .mess_2 img,
#content .mess_3 img{
    margin-left: 12px;
    max-width: 38%;
    min-width: 38%;
}



#content .mess_1 .mess_overview,
#content .mess_2 .mess_overview,
#content .mess_3 .mess_overview {
    min-width: calc(60% - 32px);
    max-width: calc(60% - 32px);  
    float: right;
    margin-right: 24px;
    text-align: justify;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 20px;
    -webkit-line-clamp: 5;
    height: calc(5 * 20px);
}

#content .mess_3 {
    margin-bottom: 32px;
}

#content{
  clear: both;  
}
#product{
    margin-top: 48px;
    min-width: calc(100% - 80px);
    padding-bottom: 12px;
    background-color:#ccc;
    margin-left: 50%;
    transform: translateX(-50%);
    clear: both;
}

#product .product_Nav{
    width: 100%;
    height: 32px;
    background-color: cornflowerblue;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 32px;
    padding-left: 32px;
    font-weight: 500;
    
}



#product .list_Product{
    clear: both;
    overflow: auto;
    margin-left: -8px;
    margin-right: -8px;
}



#product .list_Product .info_Product{
    min-height: 200px;
    max-width: calc(100% / 5 );
    float: left;
    padding: 0 8px;
    background-color: #ccc;
    
    
}

#product .list_Product .info_Product:hover{
    opacity: 0.6;
    cursor: pointer;
}



#product .list_Product .img_Product{
    width: 100%;
}

#product .list_Product .product_name{
    font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 16px;
    background-color: #fff;
    margin-top: -4px;
    padding: 0px 16px;
    min-height: 65px;
    overflow: hidden;
    max-height: 65px;
    text-overflow: ellipsis;
}

#product .info_Product .price{
    color: red;
    text-align: center;
    font-size: 24px;
    background-color: #fff;
    margin-top: -4px;
    font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    font-weight: 700;
                              
}

.product_Software{
    clear: both;
    margin-top: 24px;
}
.product_LinhKien{
    clear: both;
    margin: 24px 0px;
    
}

#footer{
    position: absolute;
    width: 100%;  
    background-color: #ccc;
    min-height: 400px;
}

#footer .footer_Container{
    width: calc(100% - 84px);
    margin-left: 50%;
    transform: translateX(-50%);
    content: "";
    display: table;
    clear: both;

    /* background-color: black; */
}

#footer .footer_Container .footer_contact,
#footer .footer_Container .footer_member{
    
    width: 600px;
}

#footer .footer_Container .footer_contact{
    float: left;
    font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 18px;
}

#footer .footer_Container .footer_Local{
    display: inline;
}

#footer .footer_Container .contact_Icon{
    font-size: 24px;
    padding-right: 24px;
}

#footer .footer_Container .footer_member{
    float: right;
}

#footer .footer_contact .contact_info{
    display: block;
    width: 100%;
}

#footer .footer_contact .phone_Title:active{
    color: red;
}
#footer .footer_contact .Social_Link,
#footer .footer_contact .phone_Title,
#footer .footer_contact .phone_Number,
#footer .footer_contact .footer_Social{
    display: inline-block;
    text-decoration: none;
    font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    
}

#footer .footer_contact .phone_Title{
    color:black ;
    font-size: 16px;
}

#footer .footer_Container .footer_BCT{
    width: 300px;
    margin-top: 12px;
}

#footer .info_Member{
    font-style: italic;
    display: inline-block;
    font-size: 16px;
    color: black;
    margin-bottom: 24px;
    font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    font-weight: 500;
    margin-top: 12px;
}



/* #footer .title{
    position: relative;
    top: 12px;
    width: 100%;
    text-align: center;
    color: white;
}

#footer .footer_info{
    margin-top: 24px;
    padding-left: 50%;

}



#footer .footer_Container .footer_contact{
    color: white;
} */