*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* body{
    margin: 0 auto;
    width: 1200px;
} */

.grid{
    width: 1200px;
    max-width: 100%;
}

.while{
    color: #fff;
}

.black{
    color: black;
}



:root{
    --header_height:80px;
    --divide_header:calc(var(--header_height) / 4);
}

.clean_Float{
    display: table;
    content: "";
    clear: both;
}

a{
    text-decoration: none;
}

html{
    font-size: 14px;
    font-family: "Segoe UI", Helvetica, Arial, sans-serif;
}

body{
    
}


#header{
    background-color: white;
    width: 100%;
    height: var(--header_height);

}



.container__Submenu{
    position: relative;
    
}
.submenu{
    display: none;
    top: 100%;
    left: 2px;
    z-index: 1;
    position: absolute;
   width: 150px;
   height: 400px;
}

.container__Submenu:hover .submenu{
    display: block;
}

.submenu li{
    border-radius: 0px;
    height: 44px;
    display: inline-block;
    min-width: 150px;
    text-align: left;
    background-color: #c82929;
}



.submenu li p{
    color: white;
    line-height: 44px;
}

.submenu li:hover  p{
    color: black;
}
.submenu li:hover{
    background-color: #c44141;

}


#header .logoStore{
    height: var(--header_height);
    width: 120px;
    position: absolute;
    left: 24px;
}

#header .header_First,
#header .nav_Search{
    height: calc(var(--header_height) / 2);
}

#header .log_In{
    position: absolute;
    top: 4px;
    right: 39px;
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
}

#header .log_In .title{
    display: inline-block;
    padding-right: 8px;
    color: black;
}

#header .log_In:active a,
#header .log_In:active i{
    color: #ccc;
}

#header .log_In .LogIn_Icon{
    font-size: 21px;
} 

#header  .shopping_Cart{
    position: absolute;
    top: 48px;
    right: 36px;
    font-size: 28px;
    -webkit-transform: scaleX(-1); 
}

#header .shopping_title{
    position: absolute;
    top: 52px;
    right: 70px;
    font-size: 18px;
}

#header  .shopping{
    color: black;
}

#header  .shopping:hover{
    color: #ccc;
}

#header  .shopping:hover .count_product{
    opacity: 0.6;
}

#header  .count_product{
    width: 20px;
    height: 20px;
    background-color: red;
    position: absolute;
    border-radius:50% ;
    top: 30px;
    right: 16px;
    text-align: center;
    
}

#header .search--container{
    justify-content: center;
    display: flex;
}

#header .find_Header{
    margin-top: 5px;
    width: 30%;
    padding:5px;
    /* top: 8px; */
    right: 611px;
    border-radius: 15px 0 0 15px;
    font-size: 15px;
    text-align: center;
    line-height: 12px;
}

#header  .search_Icon .Icon_Search_Into{
    padding: 4px 6px;
    
}

#header  .search_Icon{
    font-size: 20px;
    margin-top: 5px;
    width: 42px;
    height: 31px;
    background-color: #ccc;
    border-radius: 0 15px 15px 0;
    border: 2px solid;
    display: inline-block;
}

#header  .search_Icon:hover{
    opacity: 0.7;
    cursor: pointer;
}




#header .nav{
    width: 100%;
    text-align: center;
    
}

#header .nav li{
    
    font-weight: 700;
    display: inline-block;
    color: black;
    margin-left: -4px;
    line-height: var(--divide_header);
    text-transform: uppercase;
    padding: 0px 28px;
    white-space: -4px;
    
}

#header .nav li a{
    text-decoration: none;
    color: black;
}
#header .nav>a:hover>li {
    background-color: black;
    cursor: pointer;
}

.container__Submenu:hover{
    background-color: #000;
    cursor: pointer;
}

#header .nav li:hover p {
    color: white;
}

#header .nav i{
    display: block;
    line-height: var(--divide_header);
    text-align: center;
}

#content{
    
    width: 100%;
    
    background-color: #ccc;

}

#content .news{
    min-width: calc(100% - 84px);
    overflow: hidden;
    background-color: #ccc;
    margin-left: 50%;
    position: relative;
    top: 24px;
    transform: translateX(-50%);
}

#content .news .news_sale,
#content .news .news_mess{
    
}

#content .news .news_sale{
    
    display: inline-block;
    width: 850px;
    float: left;
}

#content .news_sale .img_Sale{
    min-width: 100%;
    min-width: 100%;
    border-radius: 10px;
}

#content .news_sale .img_Sale:hover{
    opacity:0.5;
    filter: drop-shadow(2px 2px 10px black);
}

#content .news .news_mess{
    display: block;
    height: 534px;
    width: calc(100%/2 - 10% - 12px);
    min-width: 560px;
    float: right;
    background-color: white;
    border-radius: 25px 25px 15px 15px;
    /* min-height: 600px; */
}

#content .news_mess .news_title{
    font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    font-weight: 700;
    background-color: red;
    width: 100%;
    height: 32px;
    text-transform: uppercase;
    line-height: 28px;
    border-radius: 25px 0px;
    color: white;
    padding-left: 24px;
}

#content .mess_1,
#content .mess_2,
#content .mess_3{
    margin-top: 24px;
    width: 100%;
    
}

#content .mess_1:hover,
#content .mess_2:hover,
#content .mess_3:hover{
    filter: opacity(0.5)
}

#content .mess_1 img,
#content .mess_2 img,
#content .mess_3 img{
    margin-left: 12px;
    max-width: 38%;
    min-width: 38%;
    border-radius: 5px;
}



#content .mess_1 .mess_overview,
#content .mess_2 .mess_overview,
#content .mess_3 .mess_overview {
    min-width: calc(60% - 32px);
    max-width: calc(60% - 32px);  
    float: right;
    margin-right: 24px;
    text-align: justify;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 20px;
    -webkit-line-clamp: 5;
    height: calc(5 * 20px);
}

#content .mess_3 {
    margin-bottom: 32px;
}

#content{
  clear: both;  
}

#addcart{
    width: 600px;
    height: 300px;
    position: absolute;
    
    
}

#addcart .addcart__icon{
    
}

#addcart .addcart__title{

}


#product{
    margin-top: 48px;
    min-width: calc(100% - 80px);
    padding-bottom: 12px;
    background-color:#ccc;
    margin-left: 50%;
    transform: translateX(-50%);
    clear: both;
}

#product .product_Nav{
    border-radius: 0px 25px;
    width: 100%;
    height: 32px;
    background-color: cornflowerblue;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 32px;
    padding-left: 32px;
    font-weight: 500;
    
}



#product .list_Product{
    clear: both;
    overflow: auto;
    margin-left: -8px;
    margin-right: -8px;
    padding-top: 12px;
}



#product .list_Product .info_Product{
    margin-top: 24px;
    min-height: 200px;
    max-width: calc(100% / 5 );
    min-width: 187px;
    float: left;
    padding: 0 8px;
    background-color: #ccc;
    
    
}

#product .list_Product .info_Product:hover{
    opacity: 0.6;
    cursor: pointer;
}



#product .list_Product .img_Product{
    border-radius: 15px 15px 0 0;
    width: 100%;
    
}

.info_Product__Btn {
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: flex-end;

}

#product .btn {
    background-color: rgb(215, 32, 44);
    min-width: 100px;
    padding: 10px 8px;
    margin-right: 12px;
    margin-bottom: 12px;
    margin-top: 12px;
    border-radius: 5px;
    border: 0px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 1.5;
}

#product .btn:hover{
    cursor: pointer;
    background-color: rgba(215, 32, 44, 0.681);
}

#product .info_Product__Btn--shopping{

}

#product .info_Product__Btn--buy{

}

#product .list_Product .product_name{
    font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 16px;
    background-color: #fff;
    margin-top: -4px;
    padding: 0px 16px;
    min-height: 65px;
    overflow: hidden;
    max-height: 65px;
    text-overflow: ellipsis;
}

#product .info_Product .price{
    color: red;
    text-align: center;
    font-size: 24px;
    background-color: #fff;
    margin-top: -4px;
    font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    /* border-radius: 0 0 15px 15px; */
    font-weight: 700;

                              
}

.product_Software{
    clear: both;
    margin-top: 24px;
}
.product_LinhKien{
    clear: both;
    margin: 24px 0px;
    
}

#footer{
    position: absolute;
    width: 100%;  
    background-color: #ccc;
    min-height: 400px;
}

#footer .footer_Container{
    width: calc(100% - 84px);
    margin-left: 50%;
    transform: translateX(-50%);
    content: "";
    display: table;
    clear: both;

    /* background-color: black; */
}

#footer .footer_Container .footer_contact,
#footer .footer_Container .footer_member{
    
    width: 600px;
}

#footer .footer_Container .footer_contact{
    float: left;
    font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 18px;
}

#footer .footer_Container .footer_Local{
    display: inline;
}

#footer .footer_Container .contact_Icon{
    font-size: 24px;
    padding-right: 24px;
}

#footer .footer_Container .footer_member{
    float: right;
}

#footer .footer_contact .contact_info{
    display: block;
    width: 100%;
}

#footer .footer_contact .phone_Title:active{
    color: red;
}
#footer .footer_contact .Social_Link,
#footer .footer_contact .phone_Title,
#footer .footer_contact .phone_Number,
#footer .footer_contact .footer_Social{
    display: inline-block;
    text-decoration: none;
    font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    
}

#footer .footer_contact .phone_Title{
    color:black ;
    font-size: 16px;
}

#footer .footer_Container .footer_BCT{
    width: 300px;
    margin-top: 12px;
}

#footer .info_Member{
    font-style: italic;
    display: inline-block;
    font-size: 16px;
    color: black;
    margin-bottom: 24px;
    font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    font-weight: 500;
    margin-top: 12px;
}


/* toast add cart */
#addcart--success{
    position: fixed;
    box-shadow: 0 0 10px black;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 200px;
    transform: translate(-50%,-50%);
    display: none; /*flwx*/
    justify-content: center;
    align-items: center;
    background-color: #fff;
    
}

.animationShow{
    animation: showMess 0.5s linear  ,hiddenMess 0.5s linear  forwards 2s   ;
}

@keyframes showMess{
    from{
        opacity: 0;
        transform: translate(-50%,-150%);
    }
    
    to{
        opacity: 1;
        transform: translate(-50%,-50%);
    }
}

@keyframes hiddenMess {
    from{
        opacity: 1;
        transform: translate(-50%,-50%);
    }

    to{
        opacity: 0;
        transform: translate(-50%,-150%);
    }
}

#addcart--success .addcart__icon_exit{
    display: inline;
    position: relative;
    font-size: 24px;
    left: calc(500px - 30px);
    bottom: calc(200px / 2 - 20px);
}

#addcart--success .addcart__icon_exit:hover{
    cursor: pointer;
    opacity: 0.6;
}


#addcart--success .addcart__content--subTitle{
    font-style: italic;
    
}

#addcart--success .addcart__content--title{
    color: green;
}

#addcart--success .icon--success{
    float: left;
    width: 150px;
}

#addcart--success .addcart__content{
    padding-right: 8px 8px 8px 0px;
}

/* Show panel buy now */

#buyNowArea{
    background-color: rgba(0,0,0, 0.6);
    display: none;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

#form_buy{
    transition: all linear 0.1s;
    display: none;
    position: fixed;
    opacity: 0;
    width: 700px;
    height: 400px;
    box-shadow: 0 0 10px black;
    top:50%;
    left: 50%;
    transform: translate(-50%,-150%);
    flex-direction: column;
    background-color: #fff;  
}

.animationShowBuyNow{
    animation: showBuyNowPanel 0.5s linear forwards;
}

@keyframes showBuyNowPanel {  
    to{
    transform: translate(-50%,-50%);
    opacity: 1;      
    }
}

#form_buy form{
    margin-top: 16px;
}

#form_buy .form_buy__title{
    margin-top: 12px;
    color: rgb(196,16,26);
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 28px;
    text-shadow: 0 0 5px #cccccce0, 0 0 6px rgba(196, 16, 25, 0.901);
}

#form_buy .form_buy__container--info{
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    padding-top: 8px;
}

#form_buy .form_buy__container--info label{
    width: 130px;
    text-align: left;
}

#form_buy .form_buy__container--info input{
    border: 1px solid black;
    width: 410px;
    padding-top: 4px;

}

#form_buy .form_buy__container--info textarea{
    border: 1px solid black;
    width: 410px;
}



#form_buy .buyNow__icon_exit{
    position: absolute;
    top:10px;
    right: 10px;
    font-size: 24px;
    color: rgb(196,16,26);
}



#form_buy  #formBuyNow_register{
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    padding: 12px 42px;
    background-color: rgb(196,16,26);
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 0px;
    border-radius: 5px;
}
#form_buy .buyNow__icon_exit:hover,
#form_buy  #formBuyNow_register:hover{
    cursor: pointer;
    opacity: 0.7;
}

